<div
  class="sidebar"
  data-color="purple"
  data-image="/public/assets/img/sidebar-5.jpg"
>
  <div class="sidebar-wrapper">
    <div class="logo"><a href="tables" class="simple-text">Yummy Admin</a></div>

    <ul class="nav">
      <li>
        <a href="tables">
          <i class="pe-7s-box2"></i>
          <p>Table List</p>
        </a>
      </li>
      <!-- <li>
        <a href="dashboard">
          <i class="pe-7s-graph"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="users">
          <i class="pe-7s-user"></i>
          <p>User List</p>
        </a>
      </li>
      <li>
        <a href="create_user">
          <i class="pe-7s-add-user"></i>
          <p>Create User</p>
        </a>
      </li>
      <li>
        <a href="databases">
          <i class="pe-7s-server"></i>
          <p>Database</p>
        </a>
      </li>
      <li>
          <a href="add_food">
            <i class="pe-7s-plus"></i>
            <p>Add Food</p>
          </a>
        </li>
      <li>
        <a href="order_foods">
          <i class="pe-7s-cart"></i>
          <p>Order Food</p>
        </a>
      </li>
      <li>
        <a href="bills">
          <i class="pe-7s-note2"></i>
          <p>Bills</p>
        </a>
      </li>
    </ul>
  </div>
</div>
