<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../public/assets/img/icon_app.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Firebase App is always required and must be first -->
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>

     <!-- Add additional services that you want to use -->
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js"></script>
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-database.js"></script>
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-messaging.js"></script>
     <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-functions.js"></script>
</head>

<body>
    <div class="container">
        <div class="wrapper_form">
            <div class="left_form">
                <img class="yummy_icon" src="../public/assets/img/restaurant.jpg" alt="">
                <h1 class="title_form">YUMMY WEBSITE</h1>
            </div>
            <div class="right_form">
                <form class="form_login" action="" method="post">
                    <div class="form_container">
                        <img class="icon" src="../public/assets/img/email.png" alt="Email">
                        <input class="text_input" type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="form_container">
                        <img class="icon" src="../public/assets/img/lock.png" alt="Password">
                        <input class="text_input" type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="saveAccount" >
                        <input type="checkbox" name="saveAccount" id="saveAccount">
                        <label for="saveAccount">Do you want to save account?</label>
                    </div>
                    <button type="submit" class="button_login">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>