<!doctype html>
<html lang="en">
    <% include components\header %>
<body>

<div class="wrapper">
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->

    <%include components\sidebar%>
    
    <div class="main-panel">
	    
        <% include components\nav_top%>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Striped Table with Hover</h4>
                            <p class="category">Here is a subtitle for this table</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>EMAIL ADDRESS</th>
                                    <th>PASSWORD</th>
                                    <th>CREATE_AT</th>
                                    <th>UPDATE_AT</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Dakota Rice</td>
                                        <td>thantoandoc@gmail.com</td>
                                        <td>$36,738</td>
                                        <td>Niger</td>
                                        <td>Oud-Turnhout</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Minerva Hooper</td>
                                        <td>thantoandoc@gmail.com</td>
                                        <td>$23,789</td>
                                        <td>Curaçao</td>
                                        <td>Sinaai-Waas</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>

    </div>
</div>

<% include components\footer %>
</body>

</html>
